#songList {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: red;
}


.list-view {
    -fx-control-inner-background: white;
}




@font-face {
    font-family: "Spotify";
    src: url("spotify-font.ttf"); /* Replace with the path to your custom font file */
}


.list-cell {
    -fx-padding: 10px; /* Adjust the spacing value as per your preference */
}

.list-cell .text {
    -fx-font-size: 14px; /* Font size for the text */
    -fx-font-family: "Spotify", sans-serif; /* Custom font */
    -fx-fill: white; /* Text color */
}


.button {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-padding: 5px 10px;
    -fx-text-fill: white;
}

#playButton{
    -fx-border-color: green;
}

#pauseButton{
    -fx-border-color: red;
}

.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: #535353;
    -fx-background-radius: 10px;
}

.progress-bar .bar {
    -fx-background-color: lime;
    -fx-background-radius: 10px;
}

#searchBar {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-padding: 6px 10px;

}

